
.grow
  flex-grow: 1

.sidebar-warp
  width: 250px


.answer-warp
  //min-height: 72px
  .nav-bar
    height: 72px
    //.header-menu-title
    //  margin:
    //    left: 22px
    //  font:
    //    size: 2rem
    .header-more-btn
      .icon-num
        font:
          size: 18px
        margin:
          left: 6px

  .banner-warp
    position: absolute
    //left: 0
    //top: 0
    height: 200px
    max-width: 540px
    overflow: hidden
    .image-source
      text-align: right
      position: relative
      right: 20px
      bottom: 18px + 14px
      color: rgba(255,255,255, 0.75)
      font:
        size: 14px

  .banner-item-warp
    background-color: #111
    height: 304px
    .banner-item-img
      img
        width: 100%
        height: 310px
    .banner-item-title
      color: #fff
      position: relative
      padding:
        top: 206px
      margin: 0 21px
      font:
        size: 26px
      line-height: 32px


//.content-warp
  //font:
  //  size: 36px !important
